/*#region CAR CARD */
.CarCard {
  transition: 150ms ease-in-out;
  width: 100%;
  height: fit-content;
  border: 1px solid gainsboro;
  border-radius: 9px;
  cursor: pointer;
}

.CarCard:hover {
  transition: 150ms ease-in-out;
  box-shadow: 1px 3px 15px gainsboro;
  transform: translateY(-1px);
}

.CarCard_Image {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 240px;
  position: relative;
}

.CarCard_Image img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.CarCard_Price {
  position: absolute;
  bottom: 6px;
  right: 6px;
  background-color: #21212190;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 6px;
}

.CarCard_Info {
  border-radius: 0 0 9px 9px;
  background-color: whitesmoke;
  padding: 6px;
}

.CarCard_InfoMain {
  font-size: larger;
  font-weight: 600;
  margin-bottom: 6px;
}

.CarCard_InfoSecond {
  height: 48px;
  margin-bottom: 3px;
}

.CarCard_InfoKm {
  color: #696969;
}

.CarCard_InfoUbi {
  font-size: small;
  margin-top: 6px;
  color: #696969;
}
/*#endregion */

/*#region SIDE DATA CARD */
.SideDataCard {
  margin: 0;
  border: 1px solid gainsboro;
  width: 33%;
  height: fit-content;
  border-radius: 12px;
  margin-block: 24px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.SideDataCard_Title {
  width: 100%;
  font-size: x-large;
  font-weight: 600;

  padding-bottom: 9px;
}

.SideDataCard_Info {
  color: black;
  font-weight: 400;
  border-bottom: 1px solid gainsboro;
  width: 100%;
  padding-bottom: 6px;
}

.SideDataCard_Top {
  padding-top: 18px;
  width: 100%;
  font-size: large;
}

.SideDataCard_Bottom {
  padding-bottom: 10px;
  width: 100%;
  font-size: larger;
  font-weight: 600;
  border-bottom: 1px solid gainsboro;
}

.SideDataCard_Precio {
  padding-bottom: 10px;
  width: 100%;
  font-size: xx-large;
  font-weight: 600;
  border-bottom: 1px solid gainsboro;
}
/*#endregion */

/*#region BOTTOM DATA CARD */
.BottomData {
  display: none;
}
/*#endregion */

@media (width <= 1200px) {
  /*#region SIDE DATA CARD */
  .SideDataCard_Top {
    display: none;
  }

  .SideDataCard_Bottom {
    display: none;
  }
  /*#endregion */
}

@media (641px <= width <= 1024px) {
  /*#region SIDE DATA CARD */
  .SideDataCard {
    display: none;
  }
  /*#endregion */

  /*#region BOTTOM DATA CARD */
  .BottomData {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .BottomData_Title {
    width: 100%;
    text-align: left;
    font-size: xx-large;
    text-wrap: pretty;
    font-weight: 600;
    padding-bottom: 12px;
  }

  .BottomData_Top {
    padding-top: 6px;
    width: 100%;
    font-size: large;
    color: #454545;
  }

  .BottomData_Price {
    width: 100%;
    font-size: xx-large;
    font-weight: 700;
    padding-bottom: 12px;
  }
  /*#endregion */
}

@media (width <= 640px) {
  /*#region SIDE DATA CARD */
  .SideDataCard {
    display: none;
  }
  /*#endregion */

  /*#region BOTTOM DATA CARD */
  .BottomData {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .BottomData_Title {
    width: 100%;
    text-align: left;
    font-size: xx-large;
    text-wrap: pretty;
    font-weight: 600;
    padding-bottom: 12px;
  }

  .BottomData_Top {
    padding-top: 6px;
    width: 100%;
    font-size: large;
  }

  .BottomData_Price {
    width: 100%;
    font-size: x-large;
    font-weight: 700;
    padding-bottom: 12px;
  }
  /*#endregion */
}
