* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
}

.MuiTooltip-tooltip {
  background-color: white;
  border: 1px solid gainsboro;
  padding: 8px 12px;
}

.css-yem0l2-MuiPopper-root-MuiTooltip-popper {
  z-index: 800;
}