* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
}

.default-page {
  height: fit-content;
  min-height: 73vh;
  padding-top: 15vh;
  padding-inline: 10%;
}

.default-title {
  padding-top: 24px;
  font-weight: 600;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
}

.MuiTooltip-tooltip {
  background-color: white;
  border: 1px solid gainsboro;
  padding: 8px 12px;
}

.dropdownAccount {
  z-index: 1600;
}

@media (width <= 640px) {
  .default-page {
    padding-top: 146px;
  }
}
