.Swiper {
  margin: 0;
  margin-block: 24px;
  width: 57%;
  height: auto;
}

.Swiper_Image {
  object-fit: contain;
  width: 100%;
  height: fit-content;
  border-radius: 9px;
}

@media (641px <= width <= 1024px) {
  .Swiper {
    width: 90%;
  }
}

@media (width <= 640px) {
  .Swiper {
    width: 100%;
  }
}