/*#region SWIPER COMPRAR */
.Swiper {
  margin: 0;
  margin-block: 24px;
  width: 57%;
  height: auto;
}

.Swiper_Image {
  object-fit: contain;
  width: 100%;
  height: fit-content;
  border-radius: 9px;
}
/*#endregion */

/*#region FOOTER */
.Footer {
  margin-top: 24px;
  background-color: white;
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: space-evenly;
  padding: 36px 24px;
}

.Footer_Logo {
  margin: 0;
  width: 20%;
  height: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Footer_Logo img {
  margin: 0;
  width: 90px;
  height: auto;
}

.Footer_Mid {
  margin: 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Footer_Mid p {
  margin: 0;
  font-size: larger;
  font-weight: 700;
  color: #515151;
  margin-bottom: 9px;
}

.Footer_Mid a {
  width: fit-content;
  margin: 0;
  color: black;
  text-decoration: none;
}

.Footer_Mid a:hover {
  text-decoration: underline;
}
/*#endregion */

/*#region BASIC INFO */
.BasicInfo {
  margin: 0;
  padding-top: 24px;
  width: 100%;
}

.BasicInfo_Title {
  font-size: x-large;
  font-weight: 600;
  color: #303030;
  margin-bottom: 12px;
}

.BasicInfo_Principal {
  width: 100%;
  height: fit-content;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.BasicInfo_Container {
  margin: 0;
  border: 1px solid #1976d290;
  border-radius: 6px;
  width: 20%;
  padding-block: 18px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: 1px 3px 12px gainsboro;
}

.BasicInfo_Container img {
  width: 39px;
  height: auto;
}

.BasicInfo_AccordionTitle {
  font-size: large;
  font-weight: 600;
  margin: 0;
}

.BasicInfo_Datos {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.6rem;
  padding-left: 24px;
}

.BasicInfo_Dato {
  width: 25%;
  font-size: medium;
  font-weight: 600;
  margin: 0;
}
/*#endregion */

/*#region ORDER CARS */
.Order {
  padding: 12px 30px 0 30px;
  width: 100%;
  margin: 0;
}

.Order_Container {
  width: fit-content;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.Order_Span {
  padding-left: 9px;
  color: #1976d2;
  margin: 0;
}

.ToolTipOptions {
  background-color: white;
}

.ToolTipOptions p {
  color: black;
  padding: 12px 9px;
  font-size: medium;
  cursor: pointer;
}

.ToolTipOptions p:hover {
  background-color: #e8e8e8;
}

.ToolTipOptions p:not(:last-child) {
  border-bottom: 1px solid gainsboro;
}
/*#endregion */

@media (641px <= width <= 1024px) {
  /*#region SWIPER COMPRAR */
  .Swiper {
    width: 90%;
  }
  /*#endregion */

  /*#region FOOTER */
  .Footer_Mid {
    width: 25%;
  }

  .Footer_Mid p {
    font-size: medium;
  }

  .Footer_Mid a {
    font-size: small;
  }
  /*#endregion */

  /*#region BASIC INFO */
  .BasicInfo_Container {
    width: 30%;
    text-wrap: pretty;
    text-align: center;
    justify-content: space-evenly;
  }

  .BasicInfo_Dato {
    width: 45%;
  }
  /*#endregion */
}

@media (width <= 640px) {
  /*#region SWIPER COMPRAR */
  .Swiper {
    width: 100%;
  }
  /*#endregion */

  /*#region FOOTER */
  .Footer {
    padding: 24px 24px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Footer_Logo {
    width: 100%;
    margin-bottom: 12px;
  }

  .Footer_Mid {
    width: fit-content;
    margin-bottom: 24px;
  }
  /*#endregion */

  /*#region BASIC INFO */
  .BasicInfo_Container {
    margin: auto;
    width: 60%;
    text-wrap: pretty;
    text-align: center;
    justify-content: space-evenly;
  }

  .BasicInfo_Dato {
    width: 90%;
    font-weight: 500;
  }
  /*#endregion */
}
