.NavigationBar {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dcdcdc90;
}

.NavigationBar_Logo {
  display: flex;
  justify-content: center;
  width: 15%;
}

.NavigationBar_Logo img {
  width: 120px;
  height: auto;
}

.NavigationBar_Ul {
  width: 45%;
  list-style: none;
  display: flex;
  gap: 32px;
}

.NavigationBar_Ul li a {
  transition: 100ms ease-in;
  font-size: large;
  font-weight: 600;
  color: black;
}

.NavigationBar_Ul li a:hover {
  transition: 100ms ease-in;
  color: #727272;
}

.NavigationBar_Search {
  width: 27%;
}

.NavigationBar_Login {
  width: 13%;
  display: flex;
  justify-content: center;
}

.NavigationBar_Menu {
  display: none;
}

@media (641px <= width <= 1024px) {
  .NavigationBar_Logo {
    width: 24%;
  }

  .NavigationBar_Ul {
    width: 21%;
  }

  .NavigationBar_Ul li a {
    display: none;
  }

  .NavigationBar_Search {
    width: 42%;
  }

  .NavigationBar_Login {
    width: 13%;
    display: none;
  }

  .NavigationBar_Menu {
    width: 13%;
    display: flex;
    justify-content: center;
  }

  .NavigationBar_Menu svg {
    cursor: pointer;
  }
}

@media (width <= 640px) {
  .NavigationBar {
    justify-content: space-between;
  }

  .NavigationBar_Logo {
    width: 30%;
  }

  .NavigationBar_Logo img {
    width: 96px;
  }

  .NavigationBar_Ul {
    display: none;
  }

  .NavigationBar_Search {
    display: none;
  }

  .NavigationBar_Login {
    width: 13%;
    display: none;
  }

  .NavigationBar_Menu {
    width: 27%;
    display: flex;
    justify-content: center;
  }
}
