/*#region NavigationBar */
.NavigationBar {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dcdcdc90;
  position: fixed;
  background-color: white;
  z-index: 999;
}

.NavigationBar_Logo {
  display: flex;
  justify-content: center;
  width: 15%;
}

.NavigationBar_Logo img {
  width: 108px;
  height: auto;
  cursor: pointer;
}

.NavigationBar_Ul {
  width: 45%;
  list-style: none;
  display: flex;
  justify-content: left;
  gap: 32px;
}

.NavigationBar_Ul li {
  margin: 0;
}

.NavigationBar_Ul li a {
  transition: 100ms ease-in;
  font-size: large;
  font-weight: 600;
  color: black;
}

.NavigationBar_Ul li a:hover {
  transition: 100ms ease-in;
  color: #727272;
}

.NavigationBar_Search {
  width: 27%;
}

.NavigationBar_Login {
  width: 13%;
  display: flex;
  justify-content: center;
}

.NavigationBar_Menu {
  display: none;
}

.NavigationBar_Search2 {
  display: none;
}
/*#endregion */

/*#region NavigationDrawer */
.NavigationDrawer {
  margin: 0;
  display: none;
}
/*#endregion */

@media (641px <= width <= 1024px) {
  /*#region NavigationBar */
  .NavigationBar_Logo {
    width: 24%;
  }

  .NavigationBar_Ul {
    width: 21%;
  }

  .NavigationBar_Ul li a {
    display: none;
  }

  .NavigationBar_Search {
    width: 42%;
  }

  .NavigationBar_Login {
    width: 13%;
    display: none;
  }

  .NavigationBar_Menu {
    width: 13%;
    display: flex;
    justify-content: center;
  }

  .NavigationBar_Menu svg {
    cursor: pointer;
  }
  /*#endregion */

  /*#region NavigationDrawer */
  .NavigationDrawer {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
    align-items: center;
  }

  .NavigationDrawer_Button {
    margin-block: 36px;
    width: 30%;
  }

  .NavigationDrawer_Ul {
    width: 100%;
    border-top: 1px solid #dcdcdc81;
    border-bottom: 1px solid #dcdcdc81;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .NavigationDrawer_Ul li a {
    display: flex;
    justify-content: center;
    color: black;
    font-size: large;
    font-weight: 600;
    margin-block: 18px;
  }

  .NavigationDrawer_Txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 36px;
  }

  .NavigationDrawer_Txt img {
    width: 120px;
    height: auto;
  }

  .NavigationDrawer_Txt p {
    margin-top: 12px;
    font-weight: 400;
    color: #727272;
  }
  /*#endregion */
}

@media (width <= 640px) {
  /*#region NavigationBar */
  .NavigationBar {
    height: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .NavigationBar_Logo {
    width: 30%;
    margin: 0;
  }

  .NavigationBar_Logo img {
    width: 87px;
  }

  .NavigationBar_Ul {
    display: none;
  }

  .NavigationBar_Search {
    display: none;
  }

  .NavigationBar_Login {
    width: 13%;
    display: none;
  }

  .NavigationBar_Menu {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .NavigationBar_Search2 {
    display: block;
    width: 90%;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 12px;
  }
  /*#endregion */

  /*#region NavigationDrawer */
  .NavigationDrawer {
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
  }

  .NavigationDrawer_Button {
    margin: 0;
    margin-block: 24px;
  }

  .NavigationDrawer_Ul {
    margin: 0;
    border-top: 1px solid #dcdcdc81;
    border-bottom: 1px solid #dcdcdc81;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .NavigationDrawer_Ul li a {
    display: flex;
    justify-content: center;
    color: black;
    font-size: large;
    font-weight: 600;
    margin-block: 9px;
  }

  .NavigationDrawer_Txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 24px;
  }

  .NavigationDrawer_Txt img {
    width: 90px;
    height: auto;
  }

  .NavigationDrawer_Txt p {
    margin-top: 12px;
    font-weight: 400;
    color: #727272;
  }
  /*#endregion */
}
