.ComprarID {
  padding-top: 15vh;
  height: fit-content;
}

.ComprarID_Top {
  margin-inline: 24px;
  display: flex;
  justify-content: space-evenly;
  gap: 1.8rem;
  border-bottom: 1px solid gainsboro;
}

@media (641px <= width <= 1024px) {
  .ComprarID_Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    margin-bottom: 24px;
  }
}

@media (width <= 640px) {
  .ComprarID {
    padding-top: 88px;
  }

  .ComprarID_Top {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
}
